<div id="header"><h1 id="site_title">Genericcmsdev</h1>
	<ul class="header-item" id="tabs">
		<li id="dashboard"><a href="/admin">Dashboard</a></li>
		<li id="users"><a href="/admin/users">Users</a></li>
		<li class="current" id="tables"><a href="/tables">Tables</a></li>
	</ul>
	<p class="header-item" id="utility_nav"><span class="current_user">admin@example.com</span><a href="/admin/logout" data-method="get">Logout</a></p></div>
		<div id="title_bar">
			<div id="titlebar_left">
				<span class="tbreadcrumb">
					<a href="/admin">Admin</a>            
					<span class="tbreadcrumb_sep">/</span>
					<a href="/tables">Tables</a>
				</span>
				<h2 id="page_title">Columns</h2>
			</div>
		</div>
</div>
<div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
        <div id="main_content">
			<%= form_for(@column, :url => {:action => "create", :controller=> "columns"}, :html => {:method => "post", :id => "formColumn" }) do |f| %>
				<fieldset class="inputs">
				<%= hidden_field_tag "table_id", session[:table_id] %>  
				<div id="form_legend"><span>Column Details</span></div>
				<ol>
					<% @array_counter.each_with_index do |element, index| %>
						<%= render :partial => "/shared/print_columns", :locals => { :column_name => "column_name" + index.to_s, :column_type_id => "column_type_id" + index.to_s, :required_field => "required_field" + index.to_s } %>
					<% end %>
				</ol>
				</fieldset>
				<fieldset class="buttons">
				<ol>
					<li class="commit button">
						<%= f.submit "Create Columns" %>
					</li>
					<li class="cancel">
						<a href="/admin/users">Cancel</a>
					</li>
				</ol>
				</fieldset>
			<% end %>
			</div>
		</div>
    </div>
</div>


