<div class="container">
  <div class="row">
    <div class="span12">
    	<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn" %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", :class => "btn" %>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", :class => "btn" %>      
    </div>

<script src="//platform.linkedin.com/in.js" type="text/javascript">
  api_key: YOUR_API_KEY
</script>
<script type="IN/Apply" data-companyname="gencms5" data-jobtitle="web developer" data-email="paligoric.oliver@gmail.com"></script>
    
  </div>
</div>

