<div class="container">
  <div class="row">
    <div class="span12">
    	<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "btn" %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", :class => "btn" %>
    </div>
  </div>
</div>

